body {
    font-family: "Times New Roman", Georgia, Serif;
    margin: 0;
    box-sizing: border-box;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
  
  .R {
    font-size: 21px;
  }
  
  .light-text {
    opacity: 0.6;
  }
  
  ul {
    list-style-type: disc;
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
  }
  
  .bgimg {
    background-position: center;
    background-size: cover;
    background-image: url("/img/818969.jpg");
    min-height: 75%;
  }

  button {
    padding: 6px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
  }

  .myCart2 {
    width: 500px; 
    height: 500px; 
    display: block; 
    box-sizing: border-box;
  }

.card {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0px 22px 22px -20px rgba(0,0,0,0.3);
  }

.box {
  padding: 16px;
}